@using BookFindingAndRatingSystem.ViewModels
@model ProfileViewModel
@{
    int readBooks = Model.ReadBooks?.Count() ?? 0;
    int readingChalenge = Model.ReadingChalenge ?? 0;
    double percentCompleted = (double)(readBooks % readingChalenge * 10 );
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>User Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <h1>Username:</h1>
                <h2 class="profile-name">@Model.UserName</h2>
                <h1>Email:</h1>
                <h2 class="profile-description">@Model.Email</h2>
                <div class="row mt-4">
                    <div class="col-md-12">
                        <h5>About You:</h5>
                        <p class="profile-about">@Model.About</p>
                        @if (@Model.About == null)
                        {
                            <a class="btn btn-primary" asp-controller="User" asp-action="EditAbout" asp-route-id="@Model.Id">Tell us something about you</a>
                        }
                        else
                        {
                            <a class="btn btn-primary" asp-controller="User" asp-action="EditAbout" asp-route-id="@Model.Id">Edit about you</a>
                        }
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile">                  
                    <div class="row mt-4">
                        <div class="col-md-12">
                            <h5>Books Want to Read:</h5>
                              <a class="btn btn-outline-primary" asp-controller="Book" asp-action="Mine">See them</a>
                        </div>
                    </div>
                    <div class="row mt-4 reading-challenge-form">
                        <div class="col-md-12">
                            <h5>Reading Challenge</h5>
                            <h6>How many books you want to read:</h6>
                            @if (Model.ReadingChalenge==0)
                            {
                               <a class="btn btn-outline-success" asp-controller="User" asp-action="ReadingChallange" asp-route-id="@Model.Id">Set challenge</a>
                            }
                            else
                            {
                                <h6>@Model.ReadingChalenge</H6>
                                  <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: @percentCompleted%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="@Model.ReadingChalenge">@percentCompleted%</div>
                                  </div>
                                <a class="btn btn-outline-success" asp-controller="User" asp-action="ReadingChallange" asp-route-id="@Model.Id">Change challenge</a>
                            }                       
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center mt-4">
        <a class="btn btn-outline-danger" asp-controller="User" asp-action="Delete" asp-route-id="@Model.Id">Delete account</a>
    </div>
</body>
</html>
