@model AuthorViewModel
@{
    ViewBag.Title = "Add Author";
}

<h2>Add Author</h2>

@using (Html.BeginForm("Add", "Author", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(model => model.FirstName)
        @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.FirstName)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.LastName)
        @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.LastName)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ImageUrl)
        @Html.TextBoxFor(model => model.ImageUrl, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.ImageUrl)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.BirthDate)
        @Html.TextBoxFor(model => model.BirthDate, "{0:MM/dd/yyyy}", new { @class = "form-control datepicker" })
        @Html.ValidationMessageFor(model => model.BirthDate)
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
}
