@using BookFindingAndRatingSystem.Web.ViewModels.Autor
@model IEnumerable<AllAutorViewModel>
@{
    var autors = Model;
}
@foreach (var author in autors)
{
    <h2>@author.FirstName @author.LastName</h2>
    <img src="@author.ImageUrl" alt="Author Image"  width="250"  height="200"/>
    
    <h3>Books:</h3>
    <ul>
        @foreach (var book in author.Books)
        {
            <li>@book.Title</li>
        }
    </ul>
     <form class="input-group-sm" asp-controller="Author" asp-action="Details" asp-route-id="@author.Id">
                <input type="submit" value="Details" class="fs-6 btn btn-success mb-3 p-2" />
     </form>
    <hr />
}
