@model IEnumerable<AllBookViewModel>

@{
    ViewData["Title"] = "All books";

    var books = Model.ToList();
}
<div class="container">
    @if (books.Any())
    {
        <div class="row">
            @foreach (var book in books)
            {
                <div class="col-md-6">
                    <div class="card mb-4">
                        <img src="@book.ImageUrl" class="card-img-top" alt="Book Cover width="200"  height="650">
                        <div class="card-body">
                            <h5 class="card-title">@book.Title</h5>


                            <p class="card-text">Description: @book.Description</p>

                            <p class="card-text">Number of Pages: @book.Pages</p>


                            <p class="card-text">Average Rating: @book.Price</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <p>There are no books available.</p>
    }
</div>
