@model DetailsBookViewModel
@{
    ViewBag.Title = "Book Details";
}
<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<div class="container" style="display:inline">
    <h1>@Model.Title</h1>
    <div class="row">
        <div class="col-4">
            <img class="card-img-top" style="width: 20rem;"
                 src="@Model.ImageUrl" alt="Book Image">
        </div>
        <div class="card col-8 border-0">           
            <p>
                Price:
                <b>@String.Format("{0:f2}", Model.Price) EUR</b>
            </p>
            <p>Category: <b>@Model.Category</b></p>
            <p>Publisher: <b>@Model.Publisher</b></p>
            <p>Sold Copies: @Model.SelledCopies.ToString("#,##0")</p>
            <p>Description: @Model.Description</p>          
            @if (this.User.Identity.IsAuthenticated)
            {
                <a class="btn btn-primary" style="border: 1px solid black;" asp-controller="Book" aspaction="Rate"
               asp-route-id="@Model.Id">Rate it</a>
                <a class="btn" style="color: #fff; background-color: #c79b6d; border: 1px solid black;"
               asp-controller="Book" asp-action="WantToRead" asp-route-id="@Model.Id">Want to read</a>           
            }
        </div>
        <p></p>
        <div class="card col-4" style="width: 20rem;">
            <div class="card-body">
                <h5 class="card-title">Autor Info:</h5>
                <h6 class="card-text">@Model.AutorName</h6>
                <a class="btn btn-success" asp-controller="Autor" aspaction="Details"
               asp-route-id="@Model.AutorId">More Info</a>
            </div>
        </div>
    </div>
</div>
