@model DetailsBookViewModel
@{
    ViewBag.Title = "Book Details";
}
<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<div class="container" style="display:inline">
    <h1>@Model.Title</h1>
    <div class="row">
        <div class="col-4">
            <img class="card-img-top" style="width: 20rem;"
                 src="@Model.ImageUrl" alt="Book Image">
        </div>
        <div class="card col-8 border-0">
            <p>
                Price:
                <b>@String.Format("{0:f2}", Model.Price) EUR</b>
            </p>
            <p>Category: <b>@Model.Category</b></p>
            <p>Publisher: <b>@Model.Publisher</b></p>
            <p>Sold Copies: @Model.SelledCopies.ToString("#,##0")</p>
            <p>Description: @Model.Description</p>
            <div class="col-md-6">
                <div class="d-flex align-items-center">
                    <div class="mr-2 font-weight-bold pr-2">Book Rate:&nbsp;</div>
                    <div class="d-flex align-items-center">
                        <div>
                            @Model.AverageRate
                        </div>
                        <div>/100</div>
                    </div>
                    <img src="/star-solid.svg" alt="Book Cart Illustration" class="img-fluid ml-2" style="width: 20px; height: 20px;">
                </div>
            </div>
            @if (this.User.Identity?.IsAuthenticated ?? false)
            {
                <a href="@Url.Action("Rate","Book", new {id=Model.Id})" class="btn btn-primary">Rate it</a>
                if (!Model.AlreadyAddedByThisUser)
                {
                    <a class="btn" style="color: #fff; background-color: #c79b6d; border: 1px solid black;"
                       asp-controller="Book" asp-action="WantToRead" asp-route-id="@Model.Id">Want to read</a>
                }
                else
                {
                    <a class="btn btn-danger rounded-btn" asp-controller="Book" asp-action="RemoveFromMine" asp-route-id="@Model.Id">Remove</a>
                }
                @if (User.IsInRole(AdminRoleName))
                {
                    <a href="@Url.Action("Edit", "Book", new { id = Model.Id, area = "Admin"})" class="btn btn-outline-warning">Edit</a>
                }
            }
        </div>
        <p></p>
        <div class="card col-4" style="width: 20rem;">
            <div class="card-body">
                <h5 class="card-title">Autor Info:</h5>
                <h6 class="card-text">@Model.AutorName</h6>
                <a class="btn btn-success" asp-controller="Author" aspaction="Details"
                   asp-route-id="@Model.AutorId">More Info</a>
            </div>
        </div>
    </div>
</div>
