@model PopularBooksViewModel

<div class="row">
    <!-- Display popular books -->
    @foreach (var book in Model.PopularBooks)
    {

        <partial name="_BooksPartial" model="@book" />
        <!-- ... other book properties -->
    }
</div>
<!-- Pagination controls -->
<div class="row mb-5">
    <div class="col-md-6 d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary @(Model.CurrentPage == 1 ? "disabled" : "")"
           asp-controller="Book"
           asp-action="PopularBooks"
           asp-route-page="@(Model.CurrentPage - 1)"> &lt;&lt; </a>
    </div>

    <div class="col-md-6 d-grid gap-2 d-md-flex justify-content-md-end">
        <a class="btn btn-primary @(Model.CurrentPage >= Math.Ceiling((double)Model.TotalBooksCount / Model.BooksPerPage) ? "disabled" : "")"
           asp-controller="Book"
           asp-action="PopularBooks"
           asp-route-page="@(Model.CurrentPage + 1)"> &gt;&gt; </a>
    </div>
</div>
